
body{
    background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)),url('bg3.jpg');
    background-repeat: cover;
    background-position: center;
}
/* dark mode looking scrollbar */
::-webkit-scrollbar{
    width: 7px;
    border-radius: 4px;
}

::-webkit-scrollbar-track{
    background: #555
}
::-webkit-scrollbar-thumb{
    background-color: black;
    border-radius: 5px
}
::-webkit-scrollbar-thumb:hover{
    background: #242424
}

@tailwind base;
@tailwind components;
@tailwind utilities;
